* {
    font-family: Open Sans, sans-serif;
}
/***** INDEX *****/

/* Navbar */
#body{
    background: #E9ECEF;
}
#navbar ul{
    display: flex;
    padding: 1rem;
    background: grey;
    list-style-type: none;
}
#navbar ul li {
    padding: 0.5rem;
}
#navbar ul li a {
    color: rgb(88, 76, 76);
    text-decoration: none;
}

/* Jumbotron */
#jumbotron{
    background: #E9ECEF;
    text-align: center;
    margin-top: 2rem;
    position: fixed;
    width: 100%;
}
#jumbotron h1 {
    color: crimson;
    font-size: 3rem;
    opacity: 0.8;
}
#jumbotron h3 {
    color: darkgoldenrod;
}
#jumbotron ul {     
    display: inline-block;
    margin: 0.1em;
    padding-bottom: 1rem; 
}
#jumbotron a {
    text-decoration: none;
}
.btn {
    border: 2px solid;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    padding: 0.25rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.9;
}



/***** ABOUT US *****/
#aboutus {
    background: #E9ECEF;
    width: 100%;
}
#aboutus h2{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: royalblue;
}
#aboutus h3 {
    color: darkgoldenrod;
}
#aboutus p {
    letter-spacing: 0.05em;
    color: rgb(27, 27, 27);
}

/* ******* */
.container{
    text-align: center;
    background: #E9ECEF;
}
.container h1{
    color: blueviolet;
}
.row{
    padding: 1rem;
    width: 100%;
}
.col-4 {
    display: inline-block;
    margin: 1rem;
    background: white;
}
.card-body {
    color: blueviolet;
    display: inline-block;
}


.card img{
    width: 15rem;
}