/* ALL FONTS */
* {
    font-family: Open Sans, sans-serif;
}

/***** INDEX *****/
/* Navbar */
#body{
    background: #E9ECEF;
}
#navbar ul{
    display: flex;
    padding: 1rem;
    background: grey;
    list-style-type: none;
}
#navbar ul li {
    padding: 0.5rem;
}
#navbar ul li a {
    color: rgb(88, 76, 76);
    text-decoration: none;
}

/* Jumbotron */
#jumbotron{
    background: #E9ECEF;
    text-align: center;
    margin-top: 2rem;
    position: fixed;
    width: 100%;
}
#jumbotron h1 {
    color: crimson;
    font-size: 3rem;
    opacity: 0.8;
}
#jumbotron h3 {
    color: darkgoldenrod;
}
#jumbotron ul {     
    display: inline-block;
    margin: 0.1em;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem; 
}
#jumbotron a {
    text-decoration: none;
    margin-top: 0.25rem;
}
#jumbotron a:hover {
    text-decoration: none;
    color: darkgray;
}
.btn {
    border: 2px solid;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    padding: 0.25rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.9;
}



/***** ABOUT US *****/
#aboutus {
    background: #E9ECEF;
    width: 100%;
    padding: 1rem;
}
#aboutus h2{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: royalblue;
}
#aboutus h3 {
    color: darkgoldenrod;
}
#aboutus p {
    letter-spacing: 0.05em;
    color: rgb(27, 27, 27);
}


/* PRODUCTS */
.product-body{
    background: #E9ECEF;
}
.title{
    text-align: center;
    background: #E9ECEF;
}
.title h1 {
    color: blueviolet;
    padding-top: 1rem;
}
.title .card-text {
    color: blueviolet;
}
.title .row {
    padding: 0.25rem;
}
.title .row .col-4{
    padding: 0.5rem;
}
.card-tag{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: gray;
    width: fit-content;
    border: 2px solid grey;
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
}